# .env.example
APP_NAME=story-narrator
ENV=development
DEBUG=True

DB_HOST=localhost
DB_PORT=5432
DB_NAME=story_narrator
DB_USER=story_user
DB_PASSWORD=story_password

JWT_SECRET_KEY=your-secret-key # can be generated with openssl rand -base64 42
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

STORY_GENERATOR=local # Options: chatgpt, llama, local

OPENAI_API_KEY=your_openai_api_key
LLAMA_API_URL=http://localhost:11434/v1/completions
LLM_MODEL=llama3 # Options: llama3, deepseek, gpt-4
