# .env.example
APP_NAME=story-narrator
ENV=development
DEBUG=True

DB_HOST=localhost
DB_PORT=5432
DB_NAME=story_narrator
DB_USER=story_user
DB_PASSWORD=story_password

JWT_SECRET_KEY=your-secret-key[can be generated with openssl rand -base64 42]
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
